<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/Password/styles.css">
    <title>Register</title>
</head>
<body>
    <div class="layout">
        <header>
            <p><span class="not-color">Logo</span></p>
            <p><span class="not-color">Register</span></p>
        </header>

        <section class="content">
            <article class="Page-Info">
                <h1><span class="not-color">Register</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ut explicabo harum, 
                    quia minima molestias atque perferendis dolores. Error enim aliquam modi 
                    officia quasi natus, veniam vel sunt voluptatibus unde?</p>

                <img src="Media/password/Designer_Flatline.svg" alt="Image">
            </article>
            
            <div class="form">
                <form>
                    <fieldset id="register-fieldset">
                            <h2><span class="not-color">Register</span></h2>
                            <div class="inputs">
                                <label for="name">Name</label>
                                <input required type="text" id="name" placeholder="Name">
            
                                <label for="email">Email</label>
                                <input required type="email" id="email" placeholder="Email">

                                <label for="password">Password</label>
                                <input required type="password" id="pwd" placeholder="Password">

                                <label for="email">Confirm password</label>
                                <input required type="password" id="c-pwd" placeholder="Confirm password">
                            </div>
                            <div id="Go">
                                
                            </div>
                    </fieldset>
                </form>
                <div id="advice">
                    Password Requirements
                </div>
                <div id="pwd-security">
                    <div id="progress-bar"></div>
                </div>

                <div>
                    Password Security level
                </div>
            </div>

        </section>


        
        <footer>
            &copy; Derechos reservados
        </footer>

    </div>

    
    <script src="Scripts/app_4.js"></script>
</body>
</html>