<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="layout">
        <header>
            <p><span class="p-color">Home</span></p>
        </header>

        <section class="content">
            <article class="Page-Info">
                <h1><span class="p-color">Home Page</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ut explicabo harum, 
                    quia minima molestias atque perferendis dolores. Error enim aliquam modi 
                    officia quasi natus, veniam vel sunt voluptatibus unde?</p>

                <img src="/Media/Login/Designer_Flatline.svg" alt="Image">
            </article>
            
            <div class="card">
                <h2 class="p-color">This is an example of a Welcome Page</h2>

            </div>

        </section>


        
        <footer>
            &copy; Derechos reservados
        </footer>

    </div>
</body>
</html>