<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="layout">
        <header>
            <p><span class="color">Logo</span></p>
            <p><span class="color">Login</span></p>
        </header>

        <section class="content">  
    
            <div class="google_container">
                <a href="/auth/google">Ingresa con <span class="color">Google</span> </a>
            </div>

        </section>


        
        <footer>
            &copy; Derechos reservados
        </footer>

    </div>


</body>
</html>