<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/Stuff/sNcStyles.css">
    <title>SquaresNCubes</title>
</head>
<body>
    <div class="layout">
        <div class="nav">
            <button onclick="location.href = 'Challenges.html'">Go Back</button>
            <button onClick="window.location.reload();">Play again</button>
        </div>
        
        <header>
            <h1>SquaresN<span class="color">Cubes</span></h1>     
        </header>
        

        <table>
            <caption id="caption"></caption>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Square</th>
                    <th>Cube</th>
                </tr>
            </thead>

            <tbody id="tbody">

            </tbody>
        </table>
    </div>

    <script src="Scripts/app_1.js"></script>
</body>
</html>
