<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AboutMe/styles.css">
    <title>About Me</title>
</head>
<body>
    <div class="layout">
        <header>
            <div class="nombre">Armando <span class = "PrimaryColor">Rosas</span></div>
            <nav>
                <ul>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#my-tec-life">My life at college</a></li>
                    <li><a href="#contact-me">Contact me</a></li>
                    <li><a href="/Logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        <section class="content">
            <div class="preview">
                <div id="Me" class="presentation">
                    <h1>Hi, I am <span class = "PrimaryColor">Armando</span></h1>
                    <h2>Computer Science Student</h2>
                    <p>Welcome to my personal web page. Here's some information about me so you can get to know me better 
                    and learn about some of my skills as a future software engineer.</p>

                    <button onClick="document.getElementById('contact-me').scrollIntoView();" value="Contact me">Contact me</button>
                </div>

                <div class="photo">
                    <img src="/Media/AboutMe/Me.jpeg"  alt="MyPicture">
                </div>
                
            </div>
            
            <div id="about-me">
                <div class="name"></div>
                <h1>About <span class = "PrimaryColor">Me</span></h1>
                <p>I am a hard worker who is skilled in problem-solving and time management. I take initiative and get things 
                    done on my own as well as with others.<br> I catch on quickly and work hard to continuously learn new skills.<br><br>

                    Some of my abilities include:<br>
                    • Computational and mathematical thinking.<br>
                    • Web development (React.js, Node.js, HTML, CSS, mySQL, PostgreSQL and more...).<br>
                    • Wide knowledge and experience in C++, Python, JavaScript and SQL<br>
                    • Skills in the use of algorithms and data structure for problem solving
                    • IELTS: English level B2<br> <br>
                    
                    Some of my hobbies are:<br>
                    • Calisthenics 🤸🏻‍♂️<br>
                    • Volleyball 🏐<br>
                    • Videogames 🎮<br>
                    • Solve LeetCodes 👨‍💻
                </p>

            </div>

            <div id="skills">
                <div class="name"></div>
                <h1><span class = "PrimaryColor">Skills</span></h1>
                
                <article class="skill">
                    <h2>Programming  <span class = "PrimaryColor">Languages</span></h2>
                    <ul>
                        <li><img src="/Media/AboutMe/C++.png" alt="C++"></li>
                        <li><img src="/Media/AboutMe/Python.png" alt="Python"></li>
                        <li><img src="/Media/AboutMe/JS.png" alt="JavaScript"></li>
                        <li><img src="/Media/AboutMe/SQL.png" alt="SQL"></li>
                    </ul>
                </article>

                <article class="skill">
                    <h2>Technologies</h2>
                    <ul>
                        <li><img src="/Media/AboutMe/HTML5.png" alt="HTML"></li>
                        <li><img src="/Media/AboutMe/SASS.png" alt="SASS"></li>
                        <li><img src="/Media/AboutMe/ReactJS.png" alt="ReactJS"></li>
                        <li><img src="/Media/AboutMe/NodeJS.png" alt="NodeJS"></li>
                        <li><img src="/Media/AboutMe/django.png" alt="django"></li>
                        <li><img src="/Media/AboutMe/PG.png" alt="PG"></li>
                        <li><img src="/Media/AboutMe/MySQL.png" alt=" MySQL"></li>
                        <li><img src="/Media/AboutMe/SQLite.png" alt="SQLite"></li>
                        <li><img src="/Media/AboutMe/Unity.png" alt="Unity"></li>
                        <li><img src="/Media/AboutMe/Arduino.png" alt="Arduino"></li>

                    </ul>
                </article>

                <article class="skill">
                    <h2>Places where I like <span class = "PrimaryColor">to suffer</span></h2>
                    <ul>
                        <li><img src="/Media/AboutMe/Leetcode.webp" alt="Leetcode"></li>
                        <li><img src="/Media/AboutMe/CodeSignal.png" alt="CodeSignal"></li>
                        <li><img src="/Media/AboutMe/Uhunt.png" alt="Uhunt"></li>
                        <li><img src="/Media/AboutMe/CodeForces.webp" alt="CodeForces"></li> 
                    </ul>
                </article>

                <article class="skill">
                    <h2>Personal <span class = "PrimaryColor">Skills</span></h2>
                    <ul>
                        <li><img src="/Media/AboutMe/hardworker.png" alt="Hardworker"></li>
                        <li><img src="/Media/AboutMe/Friendly.png" alt="Friendly"></li>
                        <li><img src="/Media/AboutMe/responsible.png" alt="Responsible"></li>    
                    </ul>
                </article>

            </div>

            <div id="projects">
                <div class="name"></div>
                <h1><span class = "PrimaryColor">Projects</span></h1>

                <article class="project">
                    <div class="project-info">
                        <h2>Treno</h2>
                        <h3>An app designed to <span class = "PrimaryColor">train your dog</span></h3>
                        <p>An electronic that device will keep your dog away from a forbidden place designated by the owner through a high frequency alarm.<br>
                        All the dog's ativity will be deployed on the client's website along with some statistics and the device information.
                        </p>

                        <h3>Technologies <span class = "PrimaryColor">used</span></h3>
                        <ul>
                            <li><img src="/Media/AboutMe/Arduino.png" alt="Arduino"></li>
                            <li><img src="/Media/AboutMe/C++.png" alt="C++"></li>
                            <li><img src="/Media/AboutMe/SQL.png" alt="SQL"></li>
                            <li><img src="/Media/AboutMe/SASS.png" alt="SASS"></li>
                            <li><img src="/Media/AboutMe/ReactJS.png" alt="ReactJS"></li>
                            <li><img src="/Media/AboutMe/NodeJS.png" alt="NodeJS"></li>
                            <li><img src="/Media/AboutMe/PG.png" alt="PG"></li>
                            <li><img src="/Media/AboutMe/Socket.webp" alt="Sockets.io"></li>
                        </ul>
                    </div>

                    <img id="TrenoTeam" src="/Media/AboutMe/Treno.jpeg" alt="Treno Team">
                </article>

                <article class="project">
                    <div class="project-info">
                        <h2>Communication System <span class = "PrimaryColor">Simulator</span></h2>
                        <h3>A simple bill simulator</h3>
                        <p>This project simulates the environment of a client and the expenses due to the use of the phone, such as internet, calls, and 
                            messages costs.<br>
                            The simulator receives a text file and returns another text file, simulating a bill
                        </p>

                        <h3>Technologies <span class = "PrimaryColor">used</span></h3>
                        <ul>
                            <li><img src="/Media/AboutMe/C++.png" alt="C++"></li>
                            <li><img src="/Media/AboutMe/OOP.png" alt="OOP"></li>
                        </ul>   
                    </div>

                    <img id="Bill" src="/Media/AboutMe/Bill.png" alt="Bill-image">
                </article>

                <article class="project">
                    <div class="project-info">
                        <h2>Thaphy</h2>
                        <h3>A fun videogame created in 48 hours during the Global Game Jam</h3>
                        <p>Thaphy is a funny mole that wants to get back with his family. During his journey Thaphy will find a stranger. Thaphy decides to help<br>
                            him and in return the stranger will help him return to his family. After some time, the stranger will be revealed as the Death. 
                        </p>

                        <h3>Technologies <span class = "PrimaryColor">used</span></h3>
                        <ul>
                            <li><img src="/Media/AboutMe/Unity.png" alt="Unity"></li>
                            <li><img src="/Media/AboutMe/c.svg" alt="C#"></li>
                        </ul>
                    </div>

                    <img id="Thaphy" src="/Media/AboutMe/Thaphy.png" alt="Thaphy">
                </article>

            </div>

            <div id="my-tec-life">
                <div class="name"></div>
                <h1>My life at <span class = "PrimaryColor">college</span></h1>
                <h2>An ex Robotics Engineer Student</h2>

                <p><strong>Name: </strong>Jose Armando Rosas Balderas</p>
                <p><strong>Tuition: </strong>A01704132</p>
                <p><strong>Email: </strong>A01704132@tec.mx</p>
                <p>I am currently studying at the Tecnologico de Monterrey Campus Queretaro. At the beggining I was studying robotics and digital systems, <br>
                    but I realized that my passion was programming and software. Currently I am enjoying the career very much and I hope to be able to learn<br>
                    more things and become an engineer in computational technologies.
                </p>
            </div>

            <div id="contact-me">
                <div class="name"></div>
                <h1>Contact <span class = "PrimaryColor">me</span></h1>
                <p>If you want to develop a project together, play some videogame or aything, just <a href="mailto:armando.rosas133@gmail.com">contact me</a> </p>
                <p>Your are also welcome to checkout my <a href="https://www.linkedin.com/in/josearmandorosas/">linkedIn</a> or my <a href="https://github.com/ArmandoRosasB">Github<br><br></a></p>
                
                <h3>If you want me to <span class = "PrimaryColor">know you better...</span></h3>

                <form action = "" method="POST">
                    <fieldset>
                        <legend>Message to <span class = "PrimaryColor">Armando</span></legend>
                        <div class="inputs">
                            <label for="name">Name:</label>
                            <input required type="text" id="name" name="fname">

                            <label for="lname">Lname:</label>
                            <input required type="text" id="lname" name="lname">
        
                            <label for="email">Email:</label>
                            <input required type="email" id="email" name="email">
                        </div>
    
                        <p>
                            Preferred <span class = "PrimaryColor">programming language</span>
                            <br>
                            <input type="radio" id="JS/TS" name="Planguage" value="JavaScript">
                            <label for="JS/TS">JS/TS</label><br>
    
                            <input type="radio" id="C/C++" name="Planguage" value="C">
                            <label for="C/C++">C/C++</label><br>
    
                            <input type="radio" id="Java" name="Planguage" value="Java">
                            <label for="Java">Java</label><br>

                            <input type="radio" id="Python" name="Planguage" value="Python">
                            <label for="Python">Python</label><br>
                        </p>
    
                        <label for="msg">Message</label>
                        <br>
                        <textarea required name="message" id="msg" cols="100" rows="8"></textarea>
                        <br>
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            
            </div>
        </section>


        <footer class="footer">
            &copy; Made in <a href="https://code.visualstudio.com/">VSCode</a>
        </footer>
    </div>
    
</body>
</html>