<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="layout">
        <header>
            <p><span class="not-color">Logo</span></p>
            <p><span class="not-color">Register</span></p>
        </header>

        <section class="content">
            <article class="Page-Info">
                <h1><span class="not-color">Register</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ut explicabo harum, 
                    quia minima molestias atque perferendis dolores. Error enim aliquam modi 
                    officia quasi natus, veniam vel sunt voluptatibus unde?</p>

                <img src="/Media/Login/Designer_Flatline.svg" alt="Image">
            </article>
            
            <div class="form">
                <form method="POST">
                    <fieldset id="register-fieldset">
                            <h2><span class="not-color">Login</span></h2>
                            <div class="inputs">
                                <label for="name">Username</label>
                                <input required type="text" id="username" name="username" placeholder="Name">

                                <label for="password">Password</label>
                                <input required type="password" id="password" name="password" placeholder="Password">

                            </div>

                            <button type="submit">Enter</button>
                    </fieldset>
                </form>
 
            </div>

        </section>


        
        <footer>
            &copy; Derechos reservados
        </footer>

    </div>


</body>
</html>